.imgContent {
    position: absolute;
    right: 20px;
    width: 50%;
    top: 20px;
}

.imgPerfil {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 15%;

    button {
        background-color: transparent;
    }
}

.homeContainer {
    padding: 100px 30px;
}

.createBudgetContainer {
    padding: 10px;
}