.tableHeader {
    background-color: var(--ion-color-primary);
    color: #ffffff;
    text-align: center;
}

.tableContent {
    border-color: #9E9E9E;
    border-width: 1px;
    border-style: solid;
}