<ion-content>
  <div class="homeContainer">
    <div class="imgPerfil">
      <button routerLink="/home/profile">
        <ion-img src="../../assets/images/perfil.svg"></ion-img>
      </button>
    </div>
    <div class="imgContent">
      <ion-img src="../../assets/images/logo.png"></ion-img>
    </div>

    <div class="createBudgetContainer">
      <p class="titleGeneral">Crear presupuesto</p>
      <div>
        <ion-item>
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-input type="text" placeholder="Nombre del cliente"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-input type="text" placeholder="Teléfono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input type="text" placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="labelBudget" position="stacked">Trabajos a realizar</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label class="labelBudget" position="stacked">Observaciones</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </div>

      <div class="materialBudget" [formGroup]="formMaterial">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="labelBudgetInput">
                <ion-label class="labelBudgetInput" position="stacked">Conceptos de materiales y mano de obra</ion-label>
              </div>
              <ion-input class="inputBudget" formControlName="material"></ion-input>
            </ion-col>
            <ion-col size="3">
              <div class="labelBudgetInput">
                <ion-label class="labelBudgetInput" position="stacked">Cantidad</ion-label>
              </div>
              <ion-input class="inputBudget" formControlName="quantity"
                         type="number" onkeypress="return event.charCode>=48 && event.charCode<=57" required></ion-input>
            </ion-col>
            <ion-col size="3">
              <div class="labelBudgetInput">
                <ion-label class="labelBudgetInput" position="stacked">Precio</ion-label>
              </div>
              <ion-input class="inputBudget" formControlName="price"
                         type="number" onkeypress="return event.charCode>=48 && event.charCode<=57" required></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <ion-button (click)="addMaterial()" [disabled]="!formMaterial.valid">Agregar</ion-button>
        </div>
      </div>

      <div class="tableBudget">
        <ion-grid>
          <ion-row class="tableHeader">
            <ion-col size="4">
              <p>Material</p>
            </ion-col>
            <ion-col size="4">
              <p>Cantidad</p>
            </ion-col>
            <ion-col size="4">
              <p>Precio</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="materialsArray.length > 0">
          <ion-row *ngFor="let material of materialsArray">
            <ion-col class="tableContent" size="4">
              <p>{{ material.material }}</p>
            </ion-col>
            <ion-col class="tableContent" size="4">
              <p>{{ material.quantity }}</p>
            </ion-col>
            <ion-col class="tableContent" size="4">
              <p>{{ material.price | currency: 'USD' }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="4"><p>Subtotal:</p></ion-col>
            <ion-col class="tableContent" size="4">
              <p>{{ subtotal | currency: 'USD' }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="materialsArray.length === 0">
          <ion-row>
            <ion-col class="tableContent titleGeneral" size="12">
              <p>No hay material agregado</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="timeBudget">
        <p>Tiempo estimado de entrega</p>
        <div>
          <ion-img src="../../../assets/images/calendar.png"></ion-img>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" (ionChange)="getDate($event)"></ion-datetime>
            </ng-template>
          </ion-modal>
        </div>
      </div>

      <div class="footerBudget">
        <ion-button>Guardar</ion-button>
        <ion-button (click)="cancelBudget()">Cancelar</ion-button>
      </div>
    </div>
  </div>
</ion-content>
