<ion-content [fullscreen]="true">
  <div class="homeContainer">
    <div class="imgPerfil">
      <button routerLink="/home/profile">
        <ion-img src="../../assets/images/perfil.svg"></ion-img>
      </button>
    </div>
    <div class="imgContent">
      <ion-img src="../../assets/images/logo.png"></ion-img>
    </div>

    <div>
      <ion-card>
        <ion-card-content>
          <div class="imgCardHome">
            <ion-img src="../../assets/images/presupuesto.png"></ion-img>
            <ion-label>Presupuestos</ion-label>
          </div>
          <ion-list lines="inset">
            <ion-item routerLink="/home/create-budget">
              <ion-label class="listLabel">Crear nuevo</ion-label>
            </ion-item>
            <ion-item routerLink="/home/budget-table">
              <ion-badge slot="end">3</ion-badge>
              <ion-label class="listLabel">Creados</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="listLabel">Envíados</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <div class="imgCardHome">
            <ion-img src="../../assets/images/ordenes.png"></ion-img>
            <ion-label>Ordenes de trabajo</ion-label>
          </div>
          <ion-list lines="inset">
            <ion-item>
              <ion-label class="listLabel">Crear nuevo</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="listLabel">Creados</ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="listLabel">Envíados</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-item lines="none">
            <div class="imgCalendar">
              <ion-img src="../../assets/images/calendar.png"></ion-img>
              <ion-label class="listLabel">Agenda de servicios</ion-label>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
