ion-card {
  margin-top: 30px;
}

.imgCardHome {
  display: flex;

  ion-label {
    font-family: 'SourceSansBold';
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
    margin-left: 5px;
  }

  ion-img {
    width: 15%;
  }
}

.listLabel {
  font-family: 'SourceSansRegular';
  font-size: 18px;
  color: #000000;
}

.imgCalendar {
  display: flex;

  ion-label {
    margin-left: 10px;
  }

  ion-img {
    width: 15%;
  }
}

ion-badge {
  --padding-end: 15px;
  --padding-start: 15px;
}