ion-icon {
    color: #000000;
    font-size: 40px;
    margin-top: 5px;
}

.dataUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataUserInfo {
    text-align: center;
    font-size: 18px;
    font-family: 'SourceSansRegular';
    margin-top: 10px;
    margin-bottom: 40px;
}

.profileImg {
    width: 30%;
}